<h2>Your order is complete! Thank you for shopping with us! </h2>

<h3>
<p> Your order <strong><%= @order.id %> will be shipping to you soon!</strong></p>

<p>Again, thank you <%= @order.user.email %> for shopping with us.  Stop by again for some amazing deals!</p>
</h3>
